<main class="main">
    <section class="section">
        <form action="/" class="form">
            <label for="" class="label-form">Nome</label>
            <input type="text" class="input-form" placeholder="Insira um nome">
            <label for="" class="label-form">CPF</label>
            <input type="text" class="input-form" placeholder="Insira um cpf válido">
            <label for="" class="label-form">Email</label>
            <input type="text" class="input-form" placeholder="Insira um email">
            <div class="form-btns">
                <button type="submit" class="btn btn-medium btn-green"><i class="fa-solid fa-user-plus"></i> Cadastrar
                    Colaborador</button>
            </div>
        </form>
    </section>
</main>